name: insight

services:
  # *****************************************************************************
  # glances
  #   Glances is a cross-platform, real-time system monitoring tool that provides 
  #   a comprehensive overview of system metrics such as CPU usage, memory, disk 
  #   I/O, network activity, and running processes. It is accessible through a 
  #   web-based interface, CLI, or API, making it versatile for local and remote 
  #   monitoring. Designed for efficiency and low resource usage, Glances helps 
  #   users track performance, identify bottlenecks, and maintain system health 
  #   across servers, containers, and embedded devices. 
  #
  # *****************************************************************************
  glances:
    image: nicolargo/glances:${TAG_GLANCES:-latest}
    restart: always
    container_name: glances
    pid: host
    network_mode: host
    security_opt:
      - apparmor=unconfined
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/os-release:/etc/os-release:ro
      - /mnt/hdd1:/mnt/hdd1:ro
      - /mnt/hdd2:/mnt/hdd2:ro
      - /mnt/hdd3:/mnt/hdd3:ro
      - /mnt/hdd4:/mnt/hdd4:ro
      - /:/hostroot:ro      
      # This is our custom glances.conf file on the docker host server
      # !! This file must exist for this container to start successfully !!
      - /config/glances/glances.conf:/etc/glances/glances.conf
    environment:
      - "GLANCES_OPT=-w"
    labels:
      # What's up docker labels (https://getwud.github.io/wud/#/)
      - 'wud.tag.include=^\d+\.\d+\.\d+$'
      - 'wud.link.template=https://github.com/nicolargo/glances/releases'


  # *****************************************************************************
  # socket-proxy
  #   Socket Proxy is a security-enhanced proxy for the Docker socket that 
  #   restricts and controls access to the Docker API. By filtering Docker 
  #   socket requests based on configurable rules, it limits the attack surface 
  #   for containers requiring Docker socket access, such as Traefik or Watchtower. 
  #   This proxy helps prevent unauthorized or dangerous Docker operations, 
  #   enhancing container and host security while allowing necessary Docker API 
  #   communication.
  #
  # *****************************************************************************
  socket-proxy:
    image: linuxserver/socket-proxy:${TAG_SOCKETPROXY:-latest}
    container_name: socket-proxy
    read_only: true
    tmpfs:
      - /run
    environment:
      - CONTAINERS=1
      - IMAGES=1
      - INFO=1
      - HEALTH=1         # add as needed for health endpoints
      - EVENTS=1         # optional, for event streaming
      - PING=1           # recommended
      - POST=0           # highly recommended for read-only API
      - LOG_LEVEL=info   # optional
      - VERSION=1        # recommended
      - TZ=${TZ_ID}      # optional
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    network_mode: host
    labels:
      # What's up docker labels (https://getwud.github.io/wud/#/)
      - 'wud.tag.include=^\d+\.\d+\.\d+$'
      - 'wud.link.template=https://github.com/linuxserver/docker-socket-proxy/releases'


volumes:
  data: