# The timezone identifier to use.
#   Reference: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
#
TZ_ID='America/New_York'

# If using Pushover, provide the pushover account token, and the recipient token
DUIN_PUSHOVER_USER_KEY=<pushover_user_key>
DUIN_PUSHOVER_APP_API_TOKEN=<pushover_api_token>
